<a href="https://colab.research.google.com/github/hdpark1208/ASDChatbot/blob/main/Algorithm/BJ/%EC%A7%91%ED%95%A9%EA%B3%BC_%EB%A7%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 숫자 카드

숫자 카드는 정수 하나가 적혀져 있는 카드이다. 상근이는 숫자 카드 N개를 가지고 있다. 정수 M개가 주어졌을 때, 이 수가 적혀있는 숫자 카드를 상근이가 가지고 있는지 아닌지를 구하는 프로그램을 작성하시오.

## 입력 출력 및 예제

* 입력

첫째 줄에 상근이가 가지고 있는 숫자 카드의 개수 N(1 ≤ N ≤ 500,000)이 주어진다. 둘째 줄에는 숫자 카드에 적혀있는 정수가 주어진다. 숫자 카드에 적혀있는 수는 -10,000,000보다 크거나 같고, 10,000,000보다 작거나 같다. 두 숫자 카드에 같은 수가 적혀있는 경우는 없다.

셋째 줄에는 M(1 ≤ M ≤ 500,000)이 주어진다. 넷째 줄에는 상근이가 가지고 있는 숫자 카드인지 아닌지를 구해야 할 M개의 정수가 주어지며, 이 수는 공백으로 구분되어져 있다. 이 수도 -10,000,000보다 크거나 같고, 10,000,000보다 작거나 같다

* 출력

첫째 줄에 입력으로 주어진 M개의 수에 대해서, 각 수가 적힌 숫자 카드를 상근이가 가지고 있으면 1을, 아니면 0을 공백으로 구분해 출력한다.

* 예제

![image.png]()

## 구상

- 카드의 보유 유무를 묻는 문제

## 코드

In [1]:
# 10815 #시간초과
N = int(input())
arr1 = list(map(int,input().split()))
M = int(input())
arr2 = list(map(int,input().split()))
answer = []
for i in set(arr2):
    if i in arr1:
        answer.append(1)
    else:
        answer.append(0)

for i in answer:
    print(i,end=' ')


# 대량의 입력이 필요한 경우 (N=100000 같은 경우) → sys.stdin.readline() 사용이 필수
import sys

N = int(sys.stdin.readline().strip())  # 빠른 입력
arr1 = set(map(int, sys.stdin.readline().split()))  # 리스트를 집합(set)으로 변환
M = int(sys.stdin.readline().strip())
arr2 = list(map(int, sys.stdin.readline().split()))

# 결과를 리스트에 저장한 후 한 번에 출력
sys.stdout.write(" ".join("1" if i in arr1 else "0" for i in arr2) + "\n")

5
6 3 2 10 -10
8
10 9 -5 2 3 4 5 -10
1 0 0 1 1 0 0 1

In [ ]:
# 14425
import sys
N, M = map(int,input().split())
arr1 = []
arr2 = []
answer = 0
for i in range(N):
    arr1.append(input())

for i in range(M):
    arr2.append(input())

for word in arr2:
    if word in arr1:
        answer += 1

print(answer)

In [4]:
a = [1,2,3]
a.remove(2)
a

[1, 3]

In [5]:
# 7785
n = int(input())
arr = set()
for i in range(n):
    name, state = input().split()
    if name not in arr:
        arr.add(name)
    else:
        arr.remove(name)

for i in sorted(arr,reverse=True):
    print(i)

4
Baha enter
Askar enter
Baha leave
Artem enter
Askar
Artem

## 메모

* 세련된 코드는 아니지만 나름 최적화를 해보았다
* 때론 단순한 방법이 문제해결에 더 효과적일 수 있다. 컴퓨터의 연산력을 믿자.